
.biz-text-cform-accordion {

	color: #444;
	cursor: pointer;
	padding: 18px;
	
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	padding:0px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
	
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
	padding:0;
	display: none;
	overflow: hidden;
	transition: 0.4s;
  }

  .biz-text-cform-accordion:after {
  content: '(Open \02795)'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #0e9647;
 
  margin-left: 5px;
}

.biz-text-cform-accordion-active:after {
  content: "(close \2796)"; /* Unicode character for "minus" sign (-) */
  
}
  

.biz-text-verification-success {
	color: #0e9647; 
}

.biz-text-verification-failure {
	color: red;
}

.biz-text-cform-wrapper table h3 {
		                    
 	margin-top:10px;
 	margin-bottom:0;
 	

}

.biztext-highlight-info{

	padding:10px;
	background:#f4f4f4;
	color:#58585b;
	text-align:center;
	border:1px solid #58585b;

}

.biz-text-cform-wrapper .label-td-form {
		                    
    width:140px;
    padding-top:10px;

}

.biz-text-cform-wrapper .form-table  {

    width:99%;

}

.biz-text-cform-wrapper .form-table td {

    vertical-align: top;

}

.biz-text-cform-wrapper p {

	font-size:14px;
}

.biz-text-cform-wrapper  {

	font-family: Arial, Helvetica, sans-serif;

}


.biz-text-cform-wrapper tr td {

	padding-top: .35em;
	padding-bottom: .35em;
}


.biz-text-cform-wrapper .left-indent {
    margin-left:1.85em;

}

.biz-text-cform-wrapper .inside {
	
	overflow:auto;
	padding-left:20px !important;
}

.biz-text-cform-wrapper .display-row {

	clear:both;
	padding-top:.75em;
}

.biz-text-cform-wrapper ul {
	list-style: bullet !important;
}




@media only screen and (max-width: 1680px){

	.biz-text-cform-wrapper #poststuff #post-body.columns-2 {

		margin-right:0px;

		}


	.biz-text-cform-wrapper #post-body-content {

		width:100% !important;
		float:none;
		min-width:none !important;
		margin:0 !important;

	}

   .biz-text-cform-wrapper #post-body.columns-2 #postbox-container-1 {

    	float:none;
    	margin-right:0;
    	width:100%;
    	 
    }


}



@media only screen and (max-width: 1024px){

	



}

@media only screen and (max-width: 860px){

  	.biz-text-cform-wrapper .label-td {

		width:97%;
		padding-left:0;
	
	
	}

	.biz-text-cform-wrapper .form-table {

		margin-left:3em;
	    
	    max-width:600px;
	  

	}

	.biz-text-cform-wrapper .left-indent {
    	margin-left:0;

	}


}